// Define variables for your color scheme
$background: rgb(69, 69, 69);

// For example:
$red: #c81215;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #18b06c;
$gray: #0E0000;
$light-gray: #F4F4F4;
